body{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: white;
    /* background-color: #49334D; */
    background-color: #65B6A9;
    box-sizing: border-box;
}

    ::-webkit-scrollbar-corner{
        display: none;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        box-sizing: border-box;
        background-color:  white ;
    }
    ::-webkit-scrollbar-track-piece{    
        display: none
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #65B6A9;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        height: 10px;
        background-color: rgb(169, 209, 236);
        border: 5px solid rgb(162, 213, 226);
    }

.container {
    background-color: rgb(101, 196, 180);
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: block;

}

.main-content{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 68%;
    overflow: scroll;
    overflow-x: hidden;
    float: right;
}

.menu-bar{
    position: relative;
    width: 60px;
    height: 100%;
    float: left;
    display: block;
    background-color: #63BB67;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;    
}
.menu-bar .logo img{
    position: relative;
    width: 26px;
    height: auto;
    
}

.menu-bar .group{
    position: relative;
    margin-top: 100px;
    
}
.menu-bar .icons{
    position: relative;
    font-size: 15px;
    height: 50px;
    width: auto;
    box-sizing: border-box;
    padding-top: 16px;
    transition: all 0.3s ease-in-out;
}

.menu-bar .icons:hover{
    background-color: rgb(117, 202, 121);
}

.selected{
    background-color: rgb(117, 202, 121);
}

.side-bar{
    background-color: white;
    color: gray;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 32%;
    min-width: 200px;
    display: inline-block;
    overflow: hidden;
    border-right: 1px solid white;
    background-attachment: fixed;
}

.side-bar .header{
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
}

.side-bar .profile{
    background-color: white;
    position: relative;
    width: 100%;
    height: 75px;
    display: inline-block;
    margin-bottom: -3px;
}

.side-bar .profile .picture{
    background-image: url("../img/pp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}

.side-bar .profile .dots{
    position: relative;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 20px;
    color: #A4D7F9;
    float: right;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.side-bar .chat-body{
    position: relative;
    width: 100%;
    height: calc(100% - 115px);
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
}

.side-bar .search {
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
    box-sizing: border-box;
    border: 0px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 11px;
    color: rgb(128, 190, 190);
    background-color: rgb(194, 231, 255);
    transition: all 0.3s ease-in-out;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.search::placeholder{
    color:  rgb(128, 190, 190);
}

.search:focus {
    background-color: white;
    outline: none;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.chat{
    position: relative;
    width: 100%;
    height: 90px;
    background-color:white;
    margin-top: 2px;
    transition: all 0.2s ease-in-out;
    display: block;
    border-bottom: 1px solid rgb(194, 231, 255);
}

.chat .picture img{
    background-color: peru;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    box-sizing: border-box;
    overflow: hidden;
}


.chat .dots {
    position: relative;
    margin-right: 20px;
    float: right;
    margin-top: -10px;
    color: gray;
    font-size: 17px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}


.chat:hover{
    background-color: rgb(194, 231, 255);
}

.chat:hover .dots{
    opacity: 1;
}

.chat .name{
    color: rgb(94, 94, 94);
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-top: 8px;
    margin-left: 13px;
}

.chat .sintese{
    color: gray;
    font-size: 11px;
    width: 60%;
    font-weight: 500;
    position: relative;
    display: block;
    margin-left: 78px;
    margin-top: 7px;
    line-height: 13px;
    box-sizing: border-box;
}

.chat .status{
    color: rgb(170, 170, 170);
    width: 80%;
    font-size: 10px;
    font-weight: 500;
    position: relative;
    display: block;
    margin-left: 78px;
    margin-top: 2px;
    line-height: 10px;
    box-sizing: border-box;
}

.hour {
    position: relative;
    margin-right: 10px;
    font-size:10px;
    font-weight: 700;
    float: right;
    margin-top: -50px;
    box-sizing: border-box;
    color: rgb(143, 196, 231);
}




  
  .btn:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  }
  
  .btn__badge {
    background: #FF5D5D;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 5px;
    left:55px;
    padding: 2px 5px;
    border-radius: 15px;
  }
  
  .btn__badge--blue {
    background: #33B6E6;
  }
  
  .btn__badge--green {
    background: #6fd162;
  }
  
  .btn__badge--purple {
    background: #b262d1;
  }

  


